@import "tailwindcss";
@import "fumadocs-ui/css/neutral.css";
@import "fumadocs-ui/css/preset.css";

@theme {
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
}

:root {
	--fd-primary: #325f4c;
}

::selection {
	background: color-mix(in srgb, var(--fd-primary) 24%, transparent);
}
